<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de productos</title>
</head>
<body>
    <h1>Formulario de Registro de Productos</h1>
    <form method="post">
        <label for="producto">Producto:</label>
        <input type="text" name="producto" required>
        <br>
        <label for="categoria">Categoría:</label>
        <input type="text" name="categoria" required>
        <br>
        <label for="existencia">Existencia:</label>
        <input type="number" name="existencia" required>
        <br>
        <label for="precio">Precio:</label>
        <input type="number" name="precio" step="0.01" required>
        <br>
        <input type="submit" value="Enviar">
    </form>
    <a href="{{ url_for('index') }}">Volver al menú</a>
    
</body>
</html>