<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de obsiones</title>
</head>
<body>
    <h1>Seleccione un formulario</h1>
    <ul>
        <li><a href="{{ url_for('formulario1') }}">Formulario 1: Inscripción de Curso</a></li>
        <li><a href="{{ url_for('formulario2') }}">Formulario 2: Registro de Usuario</a></li>
        <li><a href="{{ url_for('formulario3') }}">Formulario 3: Registro de Productos</a></li>
        <li><a href="{{ url_for('formulario4') }}">Formulario 4: Registro de Libros</a></li>
    </ul>
    
</body>
</html>